* {
    box-sizing: border-box;

  }

header {
        padding: 20px 35px;
        background-color: sienna;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
        background-size: cover;
        background-attachment: fixed;
        background-position: 65%;
        z-index: 9999;
      }

header h1 {
        font-weight: bold;
        margin: 0;
        font-size: 36px;
        color: var(--primary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }

  header nav a {
    margin: 10px;
  }

.subhead {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom right, red, yellow);  
  height: 25vh ;
}

main,
.about-me,
.work,
.contact-me
footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

main {
  background-image: linear-gradient(to bottom right, rgb(0, 255, 213), black);
}
.project-one {
  background-image: url("https://dsm01pap001files.storage.live.com/y4mpfSHmkO2Cd8Ch9s0uMPjusMsZH7qSFQuwZwh8SABAk_yTAVW49LQST9UXNFkIg4kYWcBwUbQTiB3J2Ux5yeo35riVVhXhSyOr9uD1tAWkyhOLOjxUSk2rifjMOi2Z4mBLbbHay8yKUPY2k4y7eCdDpDit6u3_D3Z8HfOpeaBeT85htBo6l64umPcT0uiZ56X?width=256&height=122&cropmode=none");
}

.project-1, 
.project-2 {
  background-size: contain;
  flex-direction: column;
  font-size: medium;
  width: 175px;
  height: 100;
}

.project-3 a,
.project-3 h3 {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}
.project-2 h3,
.project-2 a {
  color: white;
}

.project-4, 
.project-4 a {
  background-image: url("https://user-images.githubusercontent.com/93648326/149425101-bf29c067-c863-48dc-82ce-7acb6e5051c5.png");
  color: black;
}

.project-4 a:hover {
  background-color: coral;
}

.about-me p {
  flex-direction: row;
  font-size: 24px;
}

h2 {
  border: 1rem outset green;
  outline: 1rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  display: flex;
  white-space: pre-wrap;
  flex: 0; 
  position: sticky;
  text-align:justify;
  color:red;
}
h2 a {
  color: green; 
}

#about-me h2,
#about-me p {
  color: black;
  font-size: 20px;
}

h3 {
  color: rgb(128, 0, 0);
}

a:hover {
  background-color: yellow;
  font-size: medium;
}



footer {
  flex-direction: column;
  flex: 0 1 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  background-image: radial-gradient(circle at 100%, rgb(51, 51, 51), #333 50%, #eee 75%, rgb(51, 51, 51) 75%);
}

footer article {
  font-size: 25px;
  text-align: center;
}

footer h2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

footer a {
  color: blue;
}
